{
  "Comment": "Created with Ansible",
  "CacheBehaviors": {
      "Quantity": 0
  },
  "IsIPV6Enabled": false,
  "Logging": {
      "Bucket": "",
      "Prefix": "",
      "Enabled": false,
      "IncludeCookies": false
  },
  "Origins": {
    "Items": [
      {
        "OriginPath": "",
        "CustomOriginConfig": {
          "OriginProtocolPolicy": "http-only",
          "HTTPPort": 80,
          "HTTPSPort": 443
        },
        "CustomHeaders": {
          "Quantity": 0
        },
        "Id": "S3-{{ s3_website_bucket_name }}",
        "DomainName": "{{ s3_website_bucket_name }}.s3-website-{{ s3_website_bucket_region }}.amazonaws.com"
      }
    ],
    "Quantity": 1
  },
  "DefaultRootObject": "{{ s3_website_root_object }}",
  "PriceClass": "PriceClass_100",
  "Enabled": true,
  "DefaultCacheBehavior": {
    "TrustedSigners": {
      "Enabled": false,
      "Quantity": 0
    },
    "TargetOriginId": "S3-{{ s3_website_bucket_name }}",
    "ViewerProtocolPolicy": "redirect-to-https",
    "ForwardedValues": {
      "Headers": {
        "Quantity": 0
      },
      "Cookies": {
        "Forward": "none"
      },
      "QueryStringCacheKeys": {
        "Quantity": 0
      },
      "QueryString": false
    },
    "MaxTTL": {{ s3_website_caching_max_ttl }},
    "SmoothStreaming": false,
    "DefaultTTL": {{ s3_website_caching_default_ttl }},
    "AllowedMethods": {
      "Items": [
        "HEAD",
        "GET"
      ],
      "CachedMethods": {
        "Items": [
          "HEAD",
          "GET"
        ],
        "Quantity": 2
      },
      "Quantity": 2
    },
    "MinTTL": 0,
    "Compress": true
  },
  "CallerReference": "web-fe-distribution-{{ ansible_date_time.epoch }}",
  "ViewerCertificate": {
    "SSLSupportMethod": "sni-only",
    "ACMCertificateArn": "{{ s3_website_certificate_arn }}",
    "MinimumProtocolVersion": "TLSv1.1_2016",
    "Certificate": "{{ s3_website_certificate_arn }}",
    "CertificateSource": "acm"
  },
  "CustomErrorResponses": {
    "Items": [
      {
        "ErrorCode": 403,
        "ResponsePagePath": "/{{ s3_website_root_object }}",
        "ResponseCode": "200",
        "ErrorCachingMinTTL": 300
      },
      {
        "ErrorCode": 404,
        "ResponsePagePath": "/{{ s3_website_root_object }}",
        "ResponseCode": "200",
        "ErrorCachingMinTTL": 300
      }
    ],
    "Quantity": 2
  },
  "HttpVersion": "http2",
  "Restrictions": {
    "GeoRestriction": {
      "RestrictionType": "none",
      "Quantity": 0
    }
  },
  "Aliases": {
    "Items": {{ s3_website_alias_domain_names | to_json }},
    "Quantity": {{ s3_website_alias_domain_names | length }}
  }
}
